:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 80%;
  width: 50%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 1;
  background-color: dodgerblue;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.781);
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background-color: white;
  color: blue;
}
.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
  padding: 50px;
  box-sizing: border-box;
  width: 60%;
  min-height: 60%;
  background-color: rgba(255, 255, 255, 0.301);
  margin-bottom: auto;
  justify-content: space-between;
  //height: 100%;
}
label {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
input {
  margin-bottom: auto;
  margin-top: 4px;
  background-color: rgba(188, 221, 255, 0.5);
  border: none;
  height: 1.5rem;
}
select {
  width: fit-content;
  background-color: transparent;
  box-shadow: 0 0 3px 2px white;
  border: none;
  border-radius: 2px;
  font-size: 1.3rem;
  margin-top: 50px;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
}
button {
  &.submit {
    width: 180px;
    height: 90px;
    margin: auto;
    margin-top: 25px;
    font-size: 2rem;
    border-radius: 10px;
  }
  &.close {
    height: 40px;
    width: 40px;
    border-radius: 7px;
    font-size: 1.4rem;
  }
}

//polyfills
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
