.card {
  width: 330px;
  height: 240px;
  border-radius: 5px;
  background-color: var(--light-blue-2);
  box-shadow: 4px 4px 0px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  transition: scale 200ms;

  &:hover {
    scale: 1.01;
    .options-toggle {
      opacity: 1;
    }
  }
}
.title {
  color: white;
  font-size: 2.5rem;
  text-decoration: underline;
  position: absolute;
  overflow-wrap: break-word;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  max-width: 75%;
  background-color: #4c97dd6c;
  box-sizing: border-box;
  border-top-right-radius: 30%;
}
.payment-status-indicator {
  z-index: 0;
  position: absolute;
  width: 400px;
  //   right: 0%;
  translate: 0 -100%;
  width: 230px;
  top: 0px;
  left: 60%;
  height: 40px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.904),
    rgba(0, 0, 0, 0.329)
  );
  rotate: 45deg;
  transform-origin: left;
}
.options-toggle {
  position: absolute;
  top: 0;
  right: 0;
  //background-color: white;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: opacity 300ms 100ms;
  svg {
    width: 100%;
    height: 100%;
    margin: auto;
    transform-origin: center;
    rotate: 45deg;
    translate: 5px -5px;
    circle {
      fill: rgba(255, 68, 0, 0.582);
      stroke: orangered;
    }
  }
}
.options {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.842);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box;
  .back {
    background-color: var(--light-blue-2);
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 100px;
    border-bottom-left-radius: 20px;
  }

  .option {
    background-color: rgba(0, 0, 255, 0.418);
    border: 1px solid white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
    }
    &.pay-now {
      rotate: 25deg;
    }
  }
}

.total {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45%;
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d95b;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  span {
    font-size: 2rem;
  }
}
.monthly {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35%;
  min-width: fit-content;
  height: 70px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  padding: 5px;
  box-sizing: border-box;

  span {
    font-size: 2rem;
  }
}
